apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: boss0613/auth-srv
          ports:
            - containerPort: 3000
          env:
            - name: DB_HOST
              value: auth-postgres-srv
            - name: DB_PORT
              value: '5432'
            - name: DB_NAME
              value: user
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: auth-db-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: auth-db-secret
                  key: DB_PASSWORD
            - name: REDIS_HOST
              value: auth-redis-srv
            - name: REDIS_PORT
              value: '6379'
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_SECRET
---
apiVersion: v1
kind: Service
metadata:
  name: auth-srv
spec:
  selector:
    app: auth
  ports:
    - name: auth
      protocol: TCP
      port: 3000
      targetPort: 3000
